[Unit]
Description = {{APP_NAME}} Service
[Service]
User={{APPLICATION_USER}}
ExecStart={{COMMAND}}
SyslogIdentifier={{APP_NAME}}

[Install]
WantedBy=multi-user.target
